
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
body{
    background: #181719;
    max-width: 1200px;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
}
.cabecera{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12px;
}
.boton{
    font-size: 14px;
    font-family: 'Crimson Pro', serif;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 8px;
}
.menu-hamburguer{
    width: 50%;
    height: 45px;
    text-align: end;
}
.menu-hamburguer img{
    width: 45px;
}
.close_menu{
    text-align: end;
    padding: 15px 12px;
    width: 100%;
}
.close_menu img{
    width: 45px;
}
.menu{
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: #181719;
    transition: 1s;
}
.abierto{
    top: 0;
}
.menu ul{
    list-style: none;
    margin-top: 125px;
    padding: 0;
}
.menu ul li{
    text-align: center;
}
.link_menu{
    text-decoration: none;
    display: block;
    padding: 16px 0;
}
.link_menu:hover{
    background: #ffffff;
    color: #0c0b0b;
}
@media (min-width: 768px){
    .cabecera{
        padding: 20px 70px 0;
    }
    .menu-hamburguer, .close_menu{
        display: none;
    }
    .menu{
        position: relative;
        top: 0;
        width: auto;
        height: auto;
    }
    .menu ul{
        display: flex;
        margin-top: 0;
    }
    .link_menu{
        text-align: center;
        padding: 16px 43px;
        font-size: 17px;
    }

}
.principal{
    padding: 12px;
}
.titulo{
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 25px;
}
.introduccion p{
    font-size: 14px;
    font-weight: 400;
    width: 70%;
    line-height: 17px;
    font-style: normal;
}
.more{
    display: block;
    margin: 25px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.more:hover{
    
    color: #cbd5d7;
}
.autora figure{
    height: 264px;
}
.tarjeta{
    width: 300px;
    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 13px 22px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    position: relative;
    top: -50px;
}
.tarjeta img{
    width: 12%;
    border-radius: 100%;
}
.datos{
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 12px;
}
.tarjeta h2{
    font-size: 12px;
    display: inline-block;
    width: 100%;
}
.tarjeta h3{
    font-size: 10px;
    display: inline-block;
    font-weight: 500;
}
.tarjeta p{
    font-family: 'Lora', serif;
    font-weight: bold;
    display: block;
    width: 70%;
    font-size: 18px;
}
@media (min-width: 768px){
    .titulo{
        font-size: 45px;
    }
    .principal{
        padding: 100px 70px 0;
        display: flex;
    }
    .introduccion{
        width: 40%;
        height: fit-content;
        margin-top: 10%;
    }
    .introduccion p{
        font-size: 16px;
        line-height: 22px;
    }
    .autora{
        width: 60%;
        padding-right: 43px;
    }
    .autora figure{
        height: 70%;
    }
    .tarjeta{
        margin-left: 45%;
    }
    .more{
        font-size: 16px;
    }
    .tarjeta h2{
        font-size: 14px;
    }
    .tarjeta h3{
        font-size: 12px;
    }
    .tarjeta p{
        font-size: 20px;
    }
}
.footer{
    text-align: center;
    margin: 30px 0;
}
.footer p a{
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}
@media (min-width: 768px){
    .footer{
        margin: 0 0 15px 0;
    }
}